/* 

#map-container {
    height: 90vh;
    width: 80vw;
    float: left;
}

#map {
    height: 100%;
}
body{
    background: #466368;
    border-radius:6px;
    height: 1000px;
  }
  
  img{
      margin-left: 32.5%;
  }

  #date-form {
      background: white;
  }


  #filter-container {
      height: 90vh;
  }

  #analysis-container {
      display: block;
  } 
  */


  /* ok new stuff */

body {
background: #466368;

}
main {
    display: block;
    width: 100%;
}
.row {
    display: block;
}
section {
    vertical-align: top;
    padding: 5px;
}
#options {
    background: gray;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    overflow-x: hidden;
    transition: 0.5s; 
}

#filter-form input {
    display: block;
}

#map-container {
    height: 90vh;
}

#analysis-container {
    background: white;
}

#map {
    height: 100%;
}

