
/* Always set the map height explicitly to define the size of the div * element that contains the map. */
#map { height: 100vh; }
/* Optional: Makes the sample page fill the window. */
html, body { height: 100%; margin: 0; padding: 0; }
  
body{
    background: #466368;
    border-radius:6px;
    height: 1000px;
  }
  
  img{
      margin-left: 32.5%;
  }

  #date-form {
      background: white;
  }