<!DOCTYPE html>
<html>
    <head>
        <title>UMD Data Challenge Pollution</title>
        <link href="static/css/index.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="/static/img/favicons/favicon.ico">
        <link rel="icon" type="image/png" sizes="196x196" href="/static/img/favicons/favicon-192.png">
        <link rel="icon" type="image/png" sizes="160x160" href="/static/img/favicons/favicon-160.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicons/favicon-96.png">
        <link rel="icon" type="image/png" sizes="64x64" href="/static/img/favicons/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16.png">
        <link rel="apple-touch-icon" href="/static/img/favicons/favicon-57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/favicon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/favicon-72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/favicon-144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/favicon-60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/favicon-120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/favicon-76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/favicon-152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/favicon-180.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/static/img/favicons/favicon-144.png">
        <meta name="msapplication-config" content="/browserconfig.xml">
    </head>
    <body>
        <header>
            <h1>Booz Allen Hamilton Ocean Pollution Report</h1>
                <h2 id="date-header">Date</h2>
        </header>
        <button id="open-options" onclick="openNav()">Open Options</button>
        <nav id="options">
            <h2>Options</h2>
            <button class="closebtn" onclick="closeNav()">Close</button>
                <h3>Filters</h3>
                <form id="option-form">
                    {% for key, val in filters.items() %}
                        {%+ if val %}
                            <div class="checkbox-input"> <input type="checkbox" name="{{key}}" checked> {{key}} </div>
                        {% else %}
                            <div class="checkbox-input"> <input type="checkbox" name="{{key}}"> {{key}} </div>
                        {% endif %}

                    {% endfor %}
                    <h2>Date</h2>
                    <div id = "date-form-container">
                        <p>Leave fields blank to show all information</p>
                        <label for="month">Month:</label>
                        <input id="month-input" type="integer" name="month" value="{{month}}"><br>
                        <label for="year">Year:</label>
                        <input id="year-input" type="text" name="year" value="{{year}}"><br><br>
                    </div>
                </form>
                <button id="option-submit" onclick="submitFilters()">Submit Filters</button>
            </div>
        </nav>
        <main>
            
            <div class="row">
                <section id="map-container">
                    <h1 id="load">Loading...</h1>
                    <div id="map"></div>
                </section>
            </div>
            
            <div class="row">
                <section id="analysis-container">
                    <div>
                        <form id="gauge-filters">
                            <h3>Pollution Measurement</h3>
                            <input type="radio" id="lbs" name="measurement" value="lbs" checked>
                            <label for="lbs">Pounds</label><br>
                            <input type="radio" id="cnt" name="measurement" value="cnt">
                            <label for="cnt">Number of Items</label>
                        </form>
                        <select id="zone-selection">
                            {% for key in zones %}
                                <option value="{{key}}">{{key}}</option>
                            {% endfor %}
                        </select>
                        <button onclick='refreshAnalysis()'>Apply Filters</button>
                    </div>
                    <h2>Analysis</h2>
                    <div class="gauge-wrap">
                        <canvas id="per-mile"></canvas>
                    </div>
                    <div class="gauge-wrap">
                        <canvas id="per-person"></canvas>
                    </div>
                    <div class="gauge-wrap">
                        <canvas id="per-adult"></canvas>
                    </div>
                </section>
            </div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3sUdLWg8NfWltFW3edZz9Yk2Q1yE5fxM&libraries=visualization"> </script>
        <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/radial/gauge.min.js"></script>
        <script src="static/js/map.js"></script>
        <script src="static/js/navigation.js"></script>
        <script src="static/js/page-management.js"></script>
        <script>refreshPage({month:-1, year:-1}, "{{ data }}")</script>
    </body>
</html>