<!DOCTYPE html>
<html>
    <head>
        <title>Landing</title>
        <link href="static/css/index.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="/static/img/favicons/favicon.ico">
        <link rel="icon" type="image/png" sizes="196x196" href="/static/img/favicons/favicon-192.png">
        <link rel="icon" type="image/png" sizes="160x160" href="/static/img/favicons/favicon-160.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicons/favicon-96.png">
        <link rel="icon" type="image/png" sizes="64x64" href="/static/img/favicons/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16.png">
        <link rel="apple-touch-icon" href="/static/img/favicons/favicon-57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/favicon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/favicon-72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/favicon-144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/favicon-60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/favicon-120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/favicon-76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/favicon-152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/favicon-180.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/static/img/favicons/favicon-144.png">
        <meta name="msapplication-config" content="/browserconfig.xml">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3sUdLWg8NfWltFW3edZz9Yk2Q1yE5fxM&libraries=visualization"> </script>
        <script src="static/js/map.js"></script>
        <script src="static/js/navigation.js"></script>
    </head>
    <body>
        <header>
            <h1>Ocean Pollution Report</h1>
            <h2 id="date-header">{{month}} / {{year}}</h2>
        </header>
        <button id="open-options" onclick="openNav()">Open Options</button>
        <nav id="options">
            <h2>Options</h2>
            <button class="closebtn" onclick="closeNav()">Close</button>
                <h3>Filters</h3>
                <form id="option-form">
                    {% for key, val in filters.items() %}
                        {%+ if val %}
                            <input type="checkbox" name="{{key}}" checked> {{key}}
                        {% else %}
                            <input type="checkbox" name="{{key}}"> {{key}}
                        {% endif %}

                    {% endfor %}
                    <h2>Date</h2>
                    <div id = "date-form-container">
                        <p>Leave fields blank to show all information</p>
                        <label for="month">Month:</label>
                        <input type="integer" name="month" value="{{month}}"><br>
                        <label for="year">Year:</label>
                        <input type="text" name="year" value="{{year}}"><br><br>
                    </div>
                </form>
                <button id="option-submit" onclick="submitFilters()">Submit Filters</button>
                <div id="floating-panel">
                    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
                    <button onclick="changeGradient()">Change gradient</button>
                    <button onclick="changeRadius()">Change radius</button>
                    <button onclick="changeOpacity()">Change opacity</button>
                </div>
    
            </div>
        </nav>
        <main>
            
            <div class="row">
                <section id="map-container">
                    <div id="map"></div>
                    
                    <script>
                        importFromJSON('{{ data }}')
                        initMap()
                    </script>
                </section>
            </div>
            
            <div class="row">
                <section id="analysis-container">
                    <h2>Analysis</h2>
                    {{filters}}
                    {{month}}
                    {{year}}
                </section>
            </div>
        </main>
    </body>
</html>